.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.loginWrapper {
    padding: 15px;
    border: 1px solid rgb(101, 73, 49);
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    max-width: 150px
}

.span {
align-self: flex-start;
}

.submit{
    background-color: rgb(139, 138, 138);
    padding: 3px 5px;
    color:rgb(101, 73, 49);
    border-radius: 10px;
    max-width: 150px;
    transition: .5s ease;
    margin:  5px auto;
}
.submit:hover {
    background-color: unset;
    border: 1px solid rgb(139, 138, 138);
    cursor: pointer;
}

.error {
    color: red
}