.aside {
    background-color: #9d9b92;
    background-color: #8f725a;
    background-color: #ae998d;
    background-color: #99a0a7;
    background-color: #f3f3f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 3%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow:5px 1px 10px rgb(119, 119, 119);
   transition: 0.5s ease;
   box-sizing: border-box;
}
.showSidebar{
    width: 200px;
}





.item {
    padding: 2%;
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.item:hover>.categoryName{
    opacity: 1;
    transform: translate(0px);
    background-color: #ae998d;
    box-shadow: 2px 0px 5px #99a0a7
    
}

.categoryName {
    position: absolute;
    width: 200px;
    height: 100%;
    min-height: 52px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    background-color: #ae998d;;
    z-index: 90;
    color:rgb(112, 86, 61);
    opacity: 0;
    border-top-right-radius: 15px ;
    transform: translate(-143px);
    transition: 0.5s  ease;
    
}

.showSidebar .categoryName {
    transform: translate(0);
    background-color: #f3f3f0;
    opacity: 1;
    /* width: 100%; */
    border-top-right-radius: 0;
    
}


.icon {
    max-width: 50px;
    z-index: 100;
}

.hamburger {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    margin-top: 10px;
    align-self: end;
    transition: 0.5s;
}

.hamburger:hover{
    cursor: pointer;
    
}




.active {
    transform: rotate(360deg);
    /* width: 10%; */
}
.active .line::before{
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left bottom;
}

.active .line::after{
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left top;
}

.line,
.line::before,
.line::after {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 20px;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    background-color: rgb(112, 86, 61) ;
}

.line::before,
.line::after {
    content: '';
    transition: 0.5s ease;
}

.line::before{
    transform: translateY(-5px);
}

.line::after {
    transform: translateY(5px);
}

.name {
    z-index: 100;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color:#ae998d;
    height: 52px;
    width: 100%;
    width: 145;
    padding-left: 5px;
   
    
}
.showSidebar .name {
    border-top-right-radius: 0;
}

.showSidebar .name{
    background: none ;
}

.arrow {
    font-size: 1.2rem;
    transition: .2s;
}

.name:hover> .arrow{
    transform: rotate(90deg);
}
.name:hover +.sections{
    top: 52px;
    border-radius: 0;
    
}
.name:hover +.sections span, .sections:hover>span{
    position: relative;
    min-height: 52px;
    padding: 5px;
    
}
.sections:hover{
    border-radius: 0;
    top: 52px;
}

.sections {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ae998d;
    top:0px;
    width: 140px;
    box-sizing: border-box;
    box-shadow: 5px 3px 10px #99a0a7;
    z-index: 50;  
    transition: 0.5s ease-out;
    overflow: hidden;
    
}

.sections span {
    padding: 5px;
    border-top: 1px solid #8f725a;
    z-index: 50;
    position: absolute;
    transition: 3s;
    max-height:0px;
    overflow: hidden;
    transition:  1s ease-out;
    /* display: flex; */
    align-items: center;
    
}

.sections span:hover {
    transition: 0s;
    background-color: #f3f3f0;
}

.showSidebar .sections {
    top: 0;
    right: -140px;
    opacity: 0;
    transition: .5s;
}

.showSidebar .name:hover +.sections  {
    top: 0;
    opacity: 1;
    
}

.showSidebar .sections span:first-child{
    border-top: none;
}
.sections:hover {
    opacity: 1;
}

.circle {
    border: 3px solid rgb(101, 73, 49, .5);
    border-radius: 50%;
    margin: auto;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(101, 73, 49, .5);
    position: relative;
    margin-top: 15px;
   
}
.circle:hover {
    border: 3px solid #A6ADA6;
    color: #A6ADA6;
    cursor: pointer;
}

.circle span {
    font-size: 40px;
    font-weight: bold;
    margin-top: -6px;
    
    
} 

.redactorWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.redactorName{
    display: flex;
    flex-direction: column;
    color:rgb(112, 86, 61);
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.addButton, .cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae998d;
    /* background-color: #A6ADA6; */
    border-radius: 5px;
    color: white;
    width: 60%;
    height: 30px;
    
   
    flex-shrink: 0;
    border: none;
} 

.cancel:hover {
    cursor: pointer;
    background-color: rgb(187, 111, 111);
}

.addButton:hover{
    cursor: pointer;
    background-color: #A6ADA6;
}
.cancel{
    margin-right: 10px;
}