.aside {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-repeat: repeat;
    height: 100vh;
    width: 12%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow:5px 1px 10px rgb(119, 119, 119);
   transition: 1s ease;
}
 

.aside:hover  {
    width: 18%;
} 




.item {
    padding: 2%;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.item:first-of-type{
    margin-top: 0;
}
a {
    text-decoration: none;
    color: rgb(112, 86, 61);
    /* transition: 1.5s ease .5s; */
}

a img {
    margin-right: 5%;
}


.item:hover{
    cursor: pointer;
    background: linear-gradient(rgb(250, 235, 207), rgb(138, 100, 36));
}

.item:hover>a {
    text-decoration: none;
    color: white;
  
}

.cancel {
    background-color: rgb(214, 106, 106);
    max-width: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 3px 5px;
    color: rgb(101, 73, 49);
    margin: 10px 0;
    box-sizing: border-box;
}

.cancel:hover {
    background-color: unset;
    border: 1px solid rgb(214, 106, 106);
    cursor: pointer;
}

.submit {
    background-color: rgb(116, 163, 116);
    padding: 3px 5px;
    color: rgb(101, 73, 49);
    border-radius: 10px;
    max-width: 150px;
    transition: .5s ease;
    margin-top: 10px;
}

.submit:hover {
    background-color: unset;
    border: 1px solid rgb(116, 163, 116);
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoWrapper {
    padding: 2%;
    box-shadow:0 1px 3px rgb(119, 119, 119);
    max-height: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.h2 {
    margin: 2% auto;
    height: 32px;
}