
.wrapper {
    width: 200px;
    height: 350px;
    position: relative;
    /* background-color: grey; */
    margin-right: 5%;
    margin-bottom: 5%;
    perspective: 500px;
    
}
 /* .wrapper:hover> .cardFront{
    transform: rotateY(180deg);
} 
.wrapper:hover> .cardBack{
    transform: rotateY(360deg);
}  */
.wrapper:hover>.cardHover{
    opacity: 1;
}
.cardHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.507);
    box-shadow: 0 0 10px #9d9b92;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    opacity: 0;
    
}
.cardFront {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    transition: 1s ease;
    backface-visibility: hidden;
    box-shadow: 2px 2px 10px #9d9b92;
}

.cardFront img {
    height: 200px;
}

.cardFront h2 {
    font-size: 1.5rem;
    color: rgb(112, 86, 61);
    margin-bottom: 5%;
}

.info {
    flex-grow: 1;
    /* background-color: #ae998d; */
    padding: 8px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.info span {
    color: #9d9b92;
}
.cardBack {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px grey;
    display: flex;
    flex-direction: column;
    background-color: rgba(166, 173, 166, 0.527);

    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    transform:rotateY(180deg);
    transition: 1s ease;
    backface-visibility: hidden;

}
.wrapper:hover>.card{
    cursor: pointer;
    z-index: 2;
    opacity: 1;
}


.info .price {
    margin-top: 5px;
    font-weight: 600;
    color: rgb(184, 36, 36);
}

.input {
    appearance: textfield;
    /* border-radius: 5px; */
    background: none;
    width: 20%;
    margin: 0 2%;
    border: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    color: #f3f3f0;
}



.inputWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.plusButton, .minusButton {
    width: 25px;
    height: 25px;
    font-weight: 800;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f0;
    font-size: 1.5rem;
}

.plusButton:hover, .minusButton:hover {
    cursor: pointer;
}


.add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae998d;
    /* background-color: #A6ADA6; */
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    width:100px;
    height: 30px;
    margin-top: 15%;
    border: none
}
.add:hover {
    cursor: pointer;
    background-color: #A6ADA6;
}
.success {
    background-color: #A6ADA6;
}

.delete:hover{
    background-color:rgb(187, 111, 111) ;
}

/* .btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn .add{
    margin: 0;
} */




/* .card {
    max-width: 100%;
    width: 100%;
    padding-top: 5px;
    margin-top: 10px;
    border-top:  1px solid rgb(101, 73, 49);
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin-bottom: 10px;
    
}

h2 {
    margin-top: 0;
}

.description {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

}
.info {
    display: flex;
    flex-grow: 1;
}

.characteristic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
    justify-content: space-between;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 40%;
    height: 70%;
}

button {
  
}

.buttons input {
    max-width: 50px;
}
.redactorName {
    display: flex;
    align-items: center;
    
}

.redactorName h2 {
    margin: 0%;
    margin-right: 17%;
}
.wrapper img {
    max-width: 200px;
}

.submit {
    display: none;
}
.delete {
    background-color: rgb(214, 106, 106);
    max-width: 130px;
    width: 100%;
    border-radius: 10px;
    padding: 3px 5px;
    color:rgb(101, 73, 49);
}
.delete:hover {
    background-color: unset;
    border: 1px solid rgb(214, 106, 106);
    cursor: pointer;
}

.addButton {
    background-color: rgb(139, 138, 138);
    padding: 3px 5px;
    color:rgb(101, 73, 49);
    border-radius: 10px;
    max-width: 130px;
    transition: .5s ease;
}

.addButtonWrapper {
    width: 140px;
    height: 50px;
}

.addButton:hover {
    background-color: unset;
    border: 1px solid rgb(139, 138, 138);
    cursor: pointer;
}
.active {
    padding: 3px 5px;
    border: 1px solid rgb(139, 138, 138);
    background-color: unset;
    border-radius: 10px;
} */