.card {
   
    padding: 30px 10px;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-top: 20px; */
    border: 1px dashed gray;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    transform: translate(0)

}
.card:last-child{
    border-bottom: none;
}

.deleted {
    transition: 1s ease;
    top: 0;
    left: 0;
    transform: translate(-470px);
    opacity: 0;
}

.deleteIcon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #f3f3f0;
    opacity: 0;
}
.deleteIcon:hover{ cursor: pointer;}


.card:hover {
    background-color: #A6ADA6;
    cursor: default;
}
.card:hover> .inputWrapper>.inputButton{
    display: flex;
}

.elementsWrapper {
    overflow: auto;
    max-height: 80%;
}

.total{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    color:rgb(87, 87, 87);
    font-weight: 600;
    border-top:  1px dashed gray;;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 20%;
    max-height: 95%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #f3f3f0;
    box-shadow:-5px 5px 10px rgb(119, 119, 119);
    padding-top: 20px;
    transition: 1s ease;
    
    
}

.wrapper h4 {
    color: rgb(87, 87, 87);
    margin: auto;
}
.cardWrapper{
    position: relative;
    width: 100%;
    height: 128px;
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    border: none;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#b9b9b99c ;
    height: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    width: 100%;
}

.info h3 {
    font-size: 1.2rem;
    font-weight: 550;
    margin: 0;
    color: rgb(87, 87, 87);
}

.info span {
    font-size: 0.9rem;
    color: #585858;
    /* color: gray; */
}
.price {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(87, 87, 87);
    max-width: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.inputWrapper {
    display: flex;
    align-items: center;
}
input {
    appearance: textfield;
    border: none;
    background: none;
    width: 30px;
    text-align: center;
    color: #585858;
    font-size: 1rem;
}
.inputButton {
    width: 25px;
    height: 25px;
    font-weight: 400;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    color: #585858;
    font-size: 1.5rem;
}
.inputButton:hover {
    cursor: pointer;
}


.orderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae998d;
    /* background-color: #A6ADA6; */
    border-radius: 5px;
    color: white;
    width: 30%;
    height: 30px;
    margin: 15px auto;
    /* margin-top: 15%; */
    border: none
}
.orderButton:hover {
    cursor: pointer;
    background-color: #A6ADA6;
}

.card:hover> .deleteIcon{
    opacity: 1;
}

.title {
    text-align: center;

}
.title h2 {
    color: rgb(87, 87, 87)
}

.clean {
    text-align: center;
    margin-bottom: 20px;
    color:  rgb(112, 86, 61);
}
.clean:hover{
    color: rgb(184, 36, 36);
    cursor: pointer;
}