.card {
    background-color: rgb(220,196, 152);
    /* padding: 10px; */
    max-width: 20%;
    width: 100%;
    margin-top: 20px;
    margin-right: 6.66%;
    position: relative;
}
.card:nth-child(4n+4){
    margin-right: 0;
}

.buttons {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
}

.redactor {
    margin-right: 10px;
    border: 1px solid black;
}

.hidden {
    display: none;
}