.wrapper {
    padding: 150px 15px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #f3f3f0
}
.imgWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper img{
    /* width: 500px; */
    max-height: 400px;
}
.info{
    margin-left: 50px;
    display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.info h2 {
    margin-top: 0;
}
.spanWrapper{
    display: flex;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.inputWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
}
.plusButton, .minusButton {
    width: 25px;
    height: 25px;
    font-weight: 800;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ae998d;
    font-size: 1.5rem;
    cursor: pointer;
}


.inputWrapper input{
    background: none;
    width: 50px;
    border: none;
    color: #ae998d;
    font-size: 1.3rem;
    text-align: center;
    appearance: textfield;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae998d;
    border-radius: 5px;
    color: white;
    width:150px;
    height: 30px;
    margin-top: 15%;
    border: none;
    cursor: pointer;
}

.price{
    font-size: 2rem;
    color: rgb(184, 36, 36);
    margin-left: 0 !important;
}