.card {
   max-width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

h2 {
    margin-top: 0;
}

.description {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

}



.buttons {
    display: flex;
    margin-top: 10px;
    padding: 3px;
 
    justify-content: space-between;
    

}
.info {
    display: flex;
    flex-grow: 1;
}

.characteristic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
    justify-content: space-between;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
   
    height: 70%;
}

.value input {
    max-width: 100%;
    width: 100px;
}

.cancel {
    background-color: rgb(214, 106, 106);
    max-width: 80px;
    width: 100%;
    border-radius: 10px;
    padding: 3px 5px;
    color:rgb(101, 73, 49);
}
.cancel:hover {
    background-color: unset;
    border: 1px solid rgb(214, 106, 106);
    cursor: pointer;
}

.addButton {
    background-color: rgb(116, 163, 116);
    padding: 3px 5px;
    color:rgb(101, 73, 49);
    border-radius: 10px;
    max-width: 80px;
    transition: .5s ease;
}

.addButton:hover {
    background-color: unset;
    border: 1px solid rgb(116, 163, 116);
    cursor: pointer;
}


.buttons input {
    max-width: 50px;
}
.redactorName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.redactorName h2 {
    margin: 0%;
    margin-right: 5%;
}
.wrapper img {
    max-width: 200px;
}

.submit {
    display: none;
}