.header {
    background-image: url('../../img/background/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    grid-area: header;
}


.searchWrapper {
   
    max-width: 200px;
    width: 100%;
    position: relative;
}
.searchWrapper img {
    width: 15px;
    position: absolute;
    right: 0;
    top: 5px;
    
}

.search {
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    border: none; 
    max-width: 200px;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: center;
}

.navbar a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.basket img {
    width: 30px;
}

.basket {
    text-decoration: none;
    color: black;
    position: relative;
}

.count {
    border-radius: 50%;
    background-color: red;
    font-size: 0.7rem;
    width: 20px;
    position: absolute;
    left: -15%;
    top: 35%;
}

