.header {
    background-repeat: repeat;   
    max-width: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #f3f3f0;
    align-items: center;
    top: 0;
    z-index: 100;
    
    
    
}


.navbar {
    margin-right: 2%;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color:  rgb(112, 86, 61);
    font-weight: 600;
    font-size: 1rem;
}

.navbar a:hover{
    color: rgb(139, 138, 138);
    text-decoration: underline;


}




.logo {
    margin-right: 2%;
}
.logo img {
    max-width: 290px;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae998d;
    
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 30px;
    /* position: absolute; */
    right: 10%;
    border: none;
    margin-left: 5px;
}
.btn:hover {
    cursor: pointer;
    background-color: #A6ADA6;
}

.header input {
    margin: 0 15px;
    width: 200px;
border: 1px solid #e7e7e7;
border-radius: 15px;
padding: 5px 10px;}




@media screen and (max-width: 870px) {
    
    .logo img{
        width: 150px;
    }
    
    .contacts {
        font-size: 1rem;
        font-weight: 400;
        
    }
    .logo {
        margin-right: 5%;
        width: 33.3%;
        
    }
    
    .navbar a {
        font-size: 1rem;
        margin-left: 5px;
    }
    .header {
        width: 100vw;
        ;
        margin-left: 0;
        padding: 5px;
    }
}
@media screen and (max-width: 580px) {
    
    .logo img{
        width: 115px;
    }
    
    .header input {
        height: 20px;
        width: 100px;
    }
    .add {
        width: 60px;
    }
    
    
}

@media screen and (max-width: 480px) {
    
    
    
    .btn{
        width: 60px;
        height: 20px;
    }
    
    
}
@media screen and (max-width: 344px){

    .logo img{
        max-width:115px;
    }
}

@media screen and (max-width: 320px) {
    
    .logo img{
        max-width: 115px;
    }
    
    
    .contacts {
        width: 33.3%;
    }
   
}