.window {
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #fff;
    max-width: 30%;
    width: 100%;
}

.title {
    border-bottom: 1px solid rgb(101, 73, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

h3 {
   color: rgb(101, 73, 49);
}

.close img{
    max-width: 30px;
    transition: 1.5s ease-in-out;
    transform: rotate(0deg);
    
}

.close img:hover {
    cursor: pointer;
    transform: rotate(360deg);
    
}

.footer {
 display: flex;
 justify-content: center;
}

.cancel {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10%;
}

.submit{
    background-color: rgb(139, 138, 138);
    padding: 3px 5px;
    color:rgb(101, 73, 49);
    border-radius: 10px;
    max-width: 150px;
    transition: .5s ease;
    margin:  5px auto;
}
.submit:hover {
    background-color: unset;
    border: 1px solid rgb(139, 138, 138);
    cursor: pointer;
}
