.window {
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 59, 59, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #fff;
    max-width: 30%;
    width: 100%;
}

.title {
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3%;
}

h3 {
   color: #aa8a78;
}

.close {
    max-width: 30px;
    color: rgb(182, 65, 65);
    font-size: 1.2rem;
    font-weight: 600;
    
}

.close:hover {
    cursor: pointer;
    
}

.footer {
 display: flex;
 justify-content: center;
}

.cancel {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10%;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae998d;
    /* background-color: #A6ADA6; */
    border-radius: 5px;
    color: white;
    width: 30%;
    height: 30px;
   margin: 15px;
    border: none
}
.submit:hover {
    cursor: pointer;
    background-color: #A6ADA6;
}

.body {
    padding: 15px;
}

.body span{
    font-size: 1.3rem;
    color:#aa8a78 ;
    font-weight: 600;
}

