.main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
   
}

/* .title {
    background-image: url('../../img/background/title1.JPG');
    background-repeat: repeat;
    background-size: contain;
} */

/* .main:nth-child(4n+4){
margin-right: 0;
} */

.main:first-child {
    margin-left: 20px;
}