.main {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 100%;
    padding: 70px 10%;
    align-items: center;
    
   
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}

.header {
    width: 100%;
    background-color: #f3f3f0;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
}

h2,h3 {
    font-size: 2rem;
    color: #8f725a
    
}
.header h3{
    font-size: 1.8rem;
    color: #8f725a
}

/* .title {
    background-image: url('../../img/background/title1.JPG');
    background-repeat: repeat;
    background-size: contain;
} */


/* .main:first-child {
    margin-left: 20px;
} */

.newItem {
    
    width: 200px;
    height: 350px;
    position: relative;
    margin-right: 5%;
    margin-bottom: 5%;
    perspective: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newItem :hover{
    cursor: pointer;
}

.newItem h2 {
    color:rgb(101, 73, 49, .5);
}

.circle {
    border: 3px solid rgb(101, 73, 49, .5);
    border-radius: 50%;
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(101, 73, 49, .5);
   
}
.circle:hover {
    border: 3px solid #A6ADA6;
    color: #A6ADA6;
}

.circle span {
    font-size: 60px;
    font-weight: bold;
    margin-top: -12px;
    margin-left:
} 


@media screen and (max-width: 870px) {
    
    .header{
        height: 150px;
    }
     .title {
         height: 50px;
     }

     .main {
         padding: 10%;
     }
    
}